rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
      match /users {
      	match /{userId} {
        	allow read: if true;
          allow write: if request.auth.uid == userId && request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches("image/.*");
        }
      }
      match /posts {
        match /comments {
          match /{photoId} {
            allow read: if true;
            allow create: if request.auth != null && request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches("image/.*");
          }
        }
      }
    }
  }
}