@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

.footer {
    bottom: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    background-color: gray;
}
.material-icons {
    display: inline-flex;
    vertical-align: top;
}
body {
    background-image: url("/assets/img/background.png");
    background-size: cover;
    padding: 30px;
}
.loading {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    
    &::before {
        position: absolute;
        width: inherit;
        height: inherit;
        top: 0;
        left: 0;
        display: block;
        content: "";
        border-radius: 50%;
        border: 1px solid white;
        border-color: white transparent white transparent;
        animation: loading 1s linear infinite;
        
        @keyframes loading {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }        
    }
}