{% layout 'root.liquid' %}
{% block content %}
{% if custompages %}
{% for page in custompages %}
<p>
    <a class="btn btn-primary" href="/pages/{{ page }}">{{ page | capitalize }}</a>
</p>
{% endfor %}
{% else %}
{{ pageContent }}
{% endif %}
{% endblock %}