{% layout 'root.liquid' %}
{% block content %}
<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="marked" data-src="/index.md">
                    <img src="/assets/loading.svg" class="loading rounded mx-auto d-block" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}