{% layout 'root.liquid' %}
{% block content %}
<h3>Hello everyone! I'm {{ config.author.name }}!</h3>
<p>
    My website. Decided to move from static (github pages) to a new approach!
    I'll host things like public forums and stuff here.
</p>
{% endblock %}